@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CircularAir";
  src: url("./assets/fonts/CircularAir-Light.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "CircularAir";
  src: url("./assets/fonts/CircularAir-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "CircularAir";
  src: url("./assets/fonts/CircularAir-Book.ttf");
  font-weight: 500;
}

body {
  position: relative;
}
